<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ethanfortin_nicaragua.elbluffhospital">

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inventory.PharmacyMain" />
        <activity android:name=".PatientInfo.SearchAddPatients" />
        <activity android:name=".Inventory.InventoryOptions" />
        <activity android:name=".PatientInfo.AddPrescription" />
        <activity android:name=".PatientInfo.PrescriptionConfirmation" />
        <activity android:name=".PatientInfo.DoctorMain" />
        <activity android:name=".PatientInfo.UploadOldFileHome" />
        <activity android:name=".PatientInfo.PDFConfirmationandUpload" />
        <activity android:name=".Inventory.Inventory" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Inventory.AddShipment" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        android:name=".NewPatientGenInfo"
        android:label="AppBar"
        android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientInfo.FetchVisits"
            android:label="NewVisitHistory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientInfo.FetchPrescriptions"
            android:label="NewPatientPrescription"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientInfo.FetchPatientInfo"
            android:label="NewPatientGenInfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientInfo.AddNewVisit"
            android:label="@string/title_activity_add_new_visit"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Inventory.FetchShipments" />
        <activity android:name=".Inventory.FetchSpecificDrug" />
        <activity android:name=".UploadFile" />
        <activity android:name=".FetchDocuments"></activity>
    </application>

</manifest>